@media (max-width: 768px) {
    .hideColumnForMobile{display: none;}
	
	}
	
.highlight { background: #000; color: #fff; }




/*hack for bootstrap autocomplete in a modal 
*/
 .ui-autocomplete { z-index: 1061 !important;
 }
 .ui-autocomplete-loading {
    background: white url('/assets/images/ui-anim_basic_16x16.gif') right center no-repeat;
    z-index: 1070 !important;
}


/*hack for bootstrap autocomplete to add bottom borders on the list 
*/
.ui-widget-content {
	    border-bottom-right-radius: 14px !important;
	    border-bottom-left-radius: 14px !important;
}



.commandButton{
	
	font-size: 20pt;
	width:100%;
	text-align: right;
	margin-top:-20px ;
	color: #8a4a00;
	
	
}

.commandButton a{
	color : #8a4a00;
	
}  

@font-face {
    font-family: 'action_manbold';
    src: url('fonts/action_man_bold-webfont.eot');
    src: url('fonts/action_man_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/action_man_bold-webfont.woff2') format('woff2'),
         url('fonts/action_man_bold-webfont.woff') format('woff'),
         url('fonts/action_man_bold-webfont.ttf') format('truetype'),
         url('fonts/action_man_bold-webfont.svg#action_manbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'eraserregular';
    src: url('fonts/EraserRegular-webfont.eot');
    src: url('fonts/EraserRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/EraserRegular-webfont.woff') format('woff'),
         url('fonts/EraserRegular-webfont.ttf') format('truetype'),
         url('fonts/EraserRegular-webfont.svg#eraserregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'picomca';
  src: url('fonts/picomca.eot?3470506');
  src: url('fonts/picomca.eot?3470506#iefix') format('embedded-opentype'),
       url('fonts/picomca.woff?3470506') format('woff'),
       url('fonts/picomca.ttf?3470506') format('truetype'),
       url('fonts/picomca.svg?3470506#picomca') format('svg');
  font-weight: normal;
  font-style: normal;
}

.searchInput{ 
	  font-size: 16px; 
	  text-align: center;
	  border-radius: 14px !important;
	  border: solid 1px #8A4A00 !important;
	  margin-top:5px;
      margin-bottom:5px;
	  margin-left:5px;
      margin-right:5px;
	  
}

.searchInput:focus{
	 border: solid 2px #8A4A00 !important;
	 outline: none;
	   border-top-right-radius: 14px !important;
	  border-top-left-radius: 14px !important;
	  border-bottom-right-radius: 0px !important;
	  border-bottom-left-radius: 0px !important;
	
}
h1 {
   text-align:center;
   font-family: 'eraserregular'!important;
   color: #8A4A00 !important; 
}

.bdHead {
   text-align:center;
   font-family: 'eraserregular'!important;
   color: #8A4A00 !important;
   font-size: 35px; 
}

h3 {
   text-align:center;
   font-family: 'action_manbold';
  color: #E0BC93;
}



table {
	font-size: .8em;
    margin-top:5px;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
	width: 98%;
	background-color: #EFE4D2;
	border-collapse: separate;
	border-spacing: 0px;
	border-radius: 14px;
	border: solid 1px;
	border-color: #E0BC93;
	text-align: left;
}

table  tr:first-child td {
	border-top: none;
}
table tr:last-child td {
	border-bottom: none;
}
td {
	text-align: left; 
	padding: 5px;
	border-top: solid 1px #FFFFFF;
	border-bottom: solid 1px #FFFFFF;
}




.bg-fromWebstore {
    background-color: #c7b092;
}

.position_stats{
	text-align: center;
}

.stats {
   
   /* margin-left : 40%;*/
}

.maskBDWebstore{
	
clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
width:75px;
height:75px;
margin-left: 0px;
margin-top:5px;
margin-bottom:5px;
}


.maskBDowned{
	clip-path: polygon(50% 0%, 86% 0, 99% 11%, 100% 89%, 86% 100%, 50% 100%, 12% 100%, 0 90%, 1% 10%, 12% 0);
	width:75px;
    height:75px;
    margin-left: 0px;
    margin-top:5px;
    margin-bottom:5px;
}

.TableauTextBodyOwned{ 
	color: #A19E9A; 
	margin-top:25px;
	margin-left:20px;
	padding-left: 20px!important;
	}
	
.TableauTextBodyWebstore{ 
	color: #5b5855; 
	margin-top:25px;
	margin-left:20px;
	pad: 0px!important;
	}
	
.TableauTextCollection{ 
		color: black;
		font-family: 'action_manbold';	
 }
 .TableauTextsearch{ 
		color: black;
		font-family: 'eraserregular';
		font-size: 8px;		
 }
.trBackGround{ 
	background-color: #f9f9f9;
	font-size: 14px;
	color:F0C799;
}
.TableauTextHeader{ 
	
	color: #E0BC93;
	margin-top:25px;
    margin-left: 15px;
	
    padding-left: 0px!important;
    padding-right: 0px!important;

	}

 .Numcollections{ 
		color: #8a4a00;
		font-family: 'verdana';
		font-size: 15px;		
 }
.New{ color: #BB905F; }
.watch{ color: #8A4A00; }

.mysearch{text-align:center;} 
.container{
    margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
}
.row{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-bottom: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding :0px;
    
}

.row:first-child{
	
    border-bottom-width: 2px;
}
.row:last-child { 

    border-bottom-width: 0px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
     }
html, body, div {margin-left:0px;
          margin-right:0px; 
		  padding: 0;}
.picto-icon
    {/* 
	  <i class="demo-icon ">+</i>
	  <i class="demo-icon ">n</i>
	  <i class="demo-icon ">y</i>
	*/
      font-family: "picomca";
      font-style: normal;
      font-weight: normal;
      speak: none;
      font-size: 120%;
     }
/***********************************/
