@import java.lang.String; var classImage=""
@import java.lang.String; var classRow=""
@import java.lang.String; var nameID=""
@import java.lang.String; var listOfJsCall=""
@( listOfMyBD: List[models.CollectionDisplay], myStat :models.StatisticsBD, userFilter :String)
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		@mainJsFiles()
	</head>
	<body>
		<div class="container-fluid">
			<header class="codrops-header">
				<div class="bdHead">@userFilter's books <span style="font-size: medium;">(<b>V@info.BuildInfo.version</b>)</span></div>
			</header>
				<div class="position_stats">
				<div class="stats"><a  class="text-right stats" href="https://github.com/grobe/bd.grobe.fr" target="_blank">https://github.com/grobe/bd.grobe.fr</a></div>
				<div class="stats"> Collections : <span id="TotalsCollection" class="Numcollections">@myStat.getCollectionNumber()</span> </div>
				<div class="stats">Comics strip : <span class="Numcollections" id="TotalsBD">@myStat.getBdNumber() (Last update : @myStat.getLastUpdateOwned())  </span></div>
				<div class="stats">Last Web update : <span class="Numcollections" id="DateMAJRechercheWeb">@myStat.getLastUpdateWeb()</span></div>
				<div class="stats"><input class="searchInput x-webkit-speech " type="text" placeholder="Look for me" id="search" name="search " size="35"></div>
				</div>
				<style id="search_style"></style>
				<script type="text/javascript"> 
					Mysearch("@userFilter"); 
			   	       console.log("listDB : after autocomplete  : autocomplete");
				</script>
			@menus(userFilter)
		<div  class="contentListBD">	
				 <div class="row lead">
				     <div class="col-xs-2 col-md-2 TableauTextHeader">  </div> 
				     <div class="col-xs-2 col-md-2 TableauTextHeader"> Title </div>
				     <div class="col-xs-1 col-md-1 TableauTextHeader"> Number</div>
				     <div class="col-xs-2 col-md-2 hidden-xs TableauTextHeader"> Designer</div>
				     <div class="col-xs-2 col-md-2 hidden-xs TableauTextHeader"> Scenario</div>
				   </div>			  
			@for(myBd <- listOfMyBD) {
			<div class="searchable row " data-index=" @myBd.title.toLowerCase() @if(myBd.getExistingNewBD==true){+} ">
			<a id="collection-@myBd.id"></a>
			  <div class="col-xs-18 col-md-12 TableauTextCollection trBackGround "> @myBd.title (@myBd.editor)  
			  @if(myBd.followOnWebstore ==true){<span class="picto-icon watch"> n</span>}
			   </div>
			</div>
			  @for(item <- myBd.bdDisplay){
			       @if(item.isbn =="N/A"){			         
			         <a id="@item.id"></a>
			        <div class=" searchable row bg-fromWebstore" data-index=" @myBd.title.toLowerCase() +">			     
					@{nameID = "bdWebstore_"}
					@{classImage = "maskBDWebstore"}
					@{classRow = "TableauTextBodyWebstore"}					
				}else{
				    <div class=" searchable row" data-index=" @myBd.title.toLowerCase()  "> 
					@{nameID = "bdOwned_"}
					@{classImage = "maskBDowned"}
					@{classRow = "TableauTextBodyOwned"}
				}					
			              <div class="col-xs-2 col-md-2">  <img  id="@nameID@item.id" name="@nameID@item.id" class="@classImage" alt="@item.title" src="/assets/images/loading.svg" ></div>  
					     <div class="col-xs-3 col-md-2 @classRow">@item.title</div>
					     <div class="col-xs-1 col-md-1  @classRow">@item.number</div>
							    @if(item.isbn =="N/A"){
							    <div class="col-xs-4 col-md-4  @classRow "> <b>Price: @item.price €</b>&nbsp;-&nbsp;@item.availability 
							      <!--   -->
							         @if(session.containsKey("connectedBD")){
							          <div class="commandButton"><a href='@routes.BdController.addBD( item.id )'><i  class="glyphicon glyphicon-plus-sign"></i></a>  </div>
							          }else{
							          <div class="commandButton"><a id="onshow_addBD" data-action="@routes.BdController.addBD( item.id )_NotConnected" href="#" data-toggle="modal" data-target="#myLoginModal"><i  class="glyphicon glyphicon-plus-sign"></i></a></div>
							          }
							    </div>
							    }else{
							     <div class="col-xs-2 col-md-2  @classRow hidden-xs">@item.designer</div>
							     <div class="col-xs-2 col-md-2  @classRow hidden-xs">@item.scenario</div>							    
							     }
					 
			   </div>
			  }
			  
			}
			</div>
			<br>					
		</div>		
		<!-- /container -->
	@modals()
	</body>
	<script src="@routes.Assets.versioned("javascripts/template/classie.js")" type="text/javascript"></script>
	<script src="@routes.Assets.versioned("javascripts/template/borderMenu.js")" type="text/javascript"></script>
	<script src="/listCoversJs/@userFilter" type="text/javascript" defer></script>
   
</html>


