

		<!-- Modal -->
			<div class="modal fade" id="myScanModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-contentBD modal-content ">
			      <div class="modal-header modal-headerBD">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h2 class="modal-title" id="myModalLabel">Add a book from ISBN code !</h2>
			      </div>
			               <div id="scanForm"></div>
			    </div>
			  </div>
			</div>
				<div class="modal fade" id="myLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-contentBD modal-content ">
			      <div class="modal-header modal-headerBD">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h2 class="modal-title" id="myModalLabel">Add a book !</h2>
			      </div>
			               <div id="loginForm"></div>
			    </div>
			  </div>
			</div>	
		<!--/ Modal -->
		
	