<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>TEst of the API files</title>




</head>
<body>

  <div id="videoEnabled">
  
    <video autoplay="true" id="videoElement">
     
    </video>
    
    <br>
  </div>  
    <input type="file" name="picture" id="picture"  accept="image/*;capture=camera">
    
   <!--    

    <p>
        <input type="submit">
    </p>
    
    <canvas id="canvas" crossOrigin="anynymous" width="100" height="100"></canvas>
    -->
 




<div id="name"></div>



<img src="https://placekitten.com/g/320/261" crossOrigin="anynymous" width="100" height="100" id="photo" alt="photo">

<div id="bdReturnedValues">

</div>

<!-- 



 -->
<script>
  (function() {
    'use strict';
    var video = document.querySelector('video')
      , canvas;

    /**
     *  generates a still frame image from the stream in the <video>
     *  appends the image to the <body>
     */
    function takeSnapshot() {
      var img = document.querySelector('img') || document.createElement('img');
      var context;
      var width = video.offsetWidth
        , height = video.offsetHeight;

      canvas = canvas || document.createElement('canvas');
      canvas.width = width;
      canvas.height = height;

      context = canvas.getContext('2d');
      context.drawImage(video, 0, 0, width, height);

      img.src = canvas.toDataURL('image/png');
      document.body.appendChild(img);
    }

    // use MediaDevices API
    // docs: https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia
    if (navigator.mediaDevices) {
      // access the web cam
      navigator.mediaDevices.getUserMedia({video: true})
      // permission granted:
        .then(function(stream) {
          video.src = window.URL.createObjectURL(stream);
          video.addEventListener('click', takeSnapshot);
        })
        // permission denied:
        .catch(function(error) {
        	document.getElementById('videoEnabled').innerHTML = 'Could not access the camera. Error: ' + error.name;
        });
    }
  })();

</script>


<!-- 


 -->
<script>
console.log("Start");

//if (filesToUpload){
	document.getElementById("picture").addEventListener("change",handleFiles , false);	
	document.getElementById("photo").addEventListener("load",handleWebCam , false);	
	document.getElementById("name").addEventListener("change",handleWebCamClicked , false);	
	
	console.log("afteraddEventListener");
//}

document.getElementById('bdReturnedValues').innerHTML  ="no value 1";
document.getElementById('name').innerHTML  = "No value 2";

var FileToSend  = document.getElementById('canvas');


function handleWebCam(evt) {
	 console.log("The picture is loaded");
}

function handleWebCamClicked(evt) {
	 console.log("The name is updated");
}

		function handleFiles(evt) {
		
		        var files = evt.target.files;
		        var photo        = document.getElementById('photo');
		        var dislaySize = document.getElementById('bdReturnedValues');
				var dislayName = document.getElementById('name');
				var file = files[0];
				dislaySize.innerHTML  = file.size;
				dislayName.innerHTML  = file.name;
				var reader = new FileReader();
	            reader.onload = function(event) {
					    var dataUri = event.target.result,
				        img     = document.getElementById('photo');
					    // wait until the image has been fully processed
					    img.onload = function() {
					    	/*canvas.width = photo.width/2;
							canvas.height = photo.height/2;
					        context.drawImage(img, 0, 0, photo.width/2, photo.height/2);
					        */
					    };
					    img.src = dataUri;
					    //image.src=canvas.toDataURL();
					    
					};

				 console.log("before readAsDataURL");
				 reader.readAsDataURL(file);
				 console.log("before sendFile");
				 sendFile (file);
				 console.log("END");
					 
				 
				 

				 
		
							 
		}			 

		 
		
function sendFile (file){
	
	//var img = canevas.toDataURL();
	//var file = dataURItoBlob(img);
	
	var formData =new FormData();
	   
	  formData.append("picture", file);
	
	var request = new Request('@routes.BdController.infoBD', {
		method: 'POST',
		body: formData
		//mode: 'cors', 
		/*redirect: 'follow',
		//headers: new Headers({
		//	'Content-Type': 'text/plain'
		})*/
	});

	// Now use it!
	fetch(request).then(function(returnedValue) {
                    
		                return returnedValue.text();
		                
	                }).then(function (value){
	                	document.getElementById('bdReturnedValues').innerHTML=value;
	                });
}
		 


</script>


</body>
</html>